


@media (max-width: 600px) {
    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;

    }
}


@media (max-device-width: 800px) and (orientation: landscape) {
    html {
        background-image: url("image_fond_uni_gris.jpg");
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}